In [1]:
import yfinance as yf

In [2]:
data=yf.download(tickers="GOOG",start="2025-01-01",end="2025-09-1")

C:\Users\navee\AppData\Local\Temp\ipykernel_9880\252787238.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download(tickers="GOOG",start="2025-01-01",end="2025-09-1")
[*********************100%***********************]  1 of 1 completed

In [3]:
data['Close']

Ticker            GOOG
Date
2025-01-02  190.014648
2025-01-03  192.506561
2025-01-06  197.320984
2025-01-07  196.075012
2025-01-08  194.759262
...                ...
2025-08-25  208.973221
2025-08-26  207.764297
2025-08-27  208.024078
2025-08-28  212.180344
2025-08-29  213.339310

[165 rows x 1 columns]

In [4]:

import yfinance as yf
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd  

def load_data(tiket,start,end):
    try:
        data=yf.download(tickers=tiket,start=start,end=end)
        if data.empty():
            return False
        return data
    except Exception as ex:
        print("there is error",ex)

def feature_engineering(data_df,feature='Close'):
    try:
        fea=data_df[feature].values.reshape(-1,1)
        sc=MinMaxScaler(feature_range=(-1,1))
        fe_sc=sc.fit_transform(sc)

    except Exception as ex:
        print("there is error",ex)

def load_train_test(data_len,sequential):
    x,y=[],[]
    for i in range(len(data_len),sequential):
        x.append(data_len[i:i+sequential])
        y.append(data_len[i-sequential])

    return np.array(x),np.array(y)